In [5]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer

for i in range(34,46):
    print(i)

34
35
36
37
38
39
40
41
42
43
44
45

In [6]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer

for i in range(50):
    print("machinelearning")

machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning

In [21]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer

for i in range(21,28):
    if i%2==1:
        print(i)

21
23
25
27

In [22]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer


for i in range(14,38):
    if i==17:
        continue
    print(i)

14
15
16
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

In [23]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer

for i in range(85,101):
    if i%2==0:
        print(i)

86
88
90
92
94
96
98
100

In [24]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer

for i in range(14,38):
    if i%7==0 and i%5==0:
        print(i)

35

In [27]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer

for i in range(14,38):
    if i%3==0 and i%5==0:
        print('goodmorning')
    elif i%3==0:
        print('hello')
    elif i%5==0:
        print('hi')

goodmorning
hello
hi
hello
hello
hi
hello
goodmorning
hello
hi
hello

In [31]:

"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above 

# your Answer
for i in range(1,11):
    print('2*',i,'=',i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20